@import "tailwindcss";

.main-title {
  animation-name: titleAni;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
}

@keyframes titleAni {
  0% {
    transform: translateY(-300%);
    opacity: 50%;
  }

  30% {
    transform: translateY(0%);
    opacity: 100%;
  }

  45% {
    transform: translateY(-50%);
  }

  70% {
    transform: translateY(0%);
  }

  83% {
    transform: translateY(-20%);
  }

  100% {
    transform: translate(0%);
  }
}

.main-promoline {
  animation-name: promoLineAni;
  animation-duration: 4s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: reverse;
}

@keyframes promoLineAni {
  0% {
    /* transform: translateY(20%); */
    opacity: 0%;
    /* visibility: visible; */
  }

  50% {
    transform: translateY(20%);
    opacity: 0%;
  }

  70% {
    transform: translateY(0);
  }

  90% {
    transform: translateY(-10%);
  }

  100% {
    transform: translateY(0%);
  }
}

.main-ballAni {
  animation-name: ballAni;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  offset-path:path("M1600,0 C500,500 1000,-100 0,0"); /* Define a cubic Bezier curve */
}

@keyframes ballAni {
  100% {
    offset-distance: 100%;
  }
}
